@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+RO:wght@100..400&display=swap');

:root
{
    --green :rgb(2, 180, 2);
    --black:#02010c;
    --light-color:#6e6e6e;
    --border:2rem solid rgba(0, 0, 0);
    --outline: .1rem solid rgba(0, 0, 0);
    
    --box-shadow: 0 .5rem 1.5rem rgba(0, 0,0,.1);

}
*
{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
    padding:0%;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
}
.logo
{
    font-family: "Playwrite RO", cursive;
    margin: 0%;
    padding:0%;
    box-sizing: border-box;
    color: black;
    text-transform: capitalize;
    font-size: 2.5rem;
    font-weight: bolder;

}
html
{   font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}
body
{
     background: #eeeeeefd;
}
/*for home */
section
{
    padding:2rem 9%;
}
.heading
{
    text-align: center;
    padding:2rem 0;
    padding-bottom: 3rem;
    font-size: 3rem;
    color: var(--black);
}
.heading span
{
    background: var(--green);
    color: #fff;
    display: inline-block;
    padding:  .5rem 3rem;
    clip-path: polygon(100% 0,93% 50%,100% 99%,0% 100%,7% 50%,0% 0%);
}
.btn
{
    border: .2rem solid var(--black);
    margin-top: 1rem;
    display: inline-block;
    padding: .8rem;
    font-size: 1.7rem;
    border-radius: .5rem;
    color: var(--black);
    cursor: pointer;
}
.btn:hover
{
    background: var(--green);
    color: #fff;
}
.header
{   border: 0px solid;
    position: fixed;
    top: 0%;
    right: 0%;
    left: 0%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 2% ;
    background: #fff;
    box-shadow: var(--box-shadow);

}

.navbar a
{
    font-size: 1.7rem;
    margin: 0 1rem;
    color:var(--black);
}
.navbar a:hover
{
    color:var(--green);
}
.icons div
{
  border: 1px solid;
  height:4.5rem;
  width:4.5rem;
  line-height:4.5rem;
  border-radius: 1.5rem;
  background: #eeeeeefd;
  color: var(--black);
  font-size: 2rem;
  margin-right: 0.2rem;
  text-align: center;
  cursor: pointer;
}
.icons div:hover
{
    background:var(--green);
    color: white;
}
#menu-btn
{
    display: none;
}
.search-form
{
    border: 0px solid;
    position: absolute;
    top: 105%;
    right:-105%;
    max-width: 50rem;
    height: 5rem;
    background: #fff;
    border-radius:1.5rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    box-shadow: var(--box-shadow);
}
.search-form.active
{
    right:2rem;
}
.search-form input
{
    height:100%;
    width:100%;
    background:none;
    font-size:1.5rem;
    padding:0 1.5rem;
    color:var(--black);
}
.search-form label
{
    font-size: 2.2rem;
    padding-right: 1.5rem;
    color: var(--black);
    cursor: pointer;
}
.search-form label:hover
{
    color:var(--green);
}
.shopping-cart
{
    border: 0px solid;
    position: absolute;
    top:100%;
    right:-110%;
    padding:1rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    width: 35rem;
    background: #fff;
}
.shopping-cart.active
{
    right:2rem;
}
.shopping-cart .box
{
    border: 0px solid rgb(42, 82, 5);
    display: flex;
    align-items: center;
    gap: 1rem;
    position: relative;
    margin:1rem 0;

}
.shopping-cart .box img
{
    height: 6rem;
}
.shopping-cart .box .fa-trash
{
    font-size:2rem;
    position: absolute;
    top:50%;
    right:1rem;
    cursor: pointer;
    color:var(--light-color);

}
.shopping-cart .box .fa-trash:hover
{
    color:var(--green);
}
.shopping-cart .box .content h3
{
    color:var(--black);
    font-size: 1.6rem;
    padding-bottom:1rem;
}
.shopping-cart .box .content span
{
    color:var(--light-color);
    font-size: 1.5rem;
}
.shopping-cart .box .content .quantity
{
    padding-left:1rem;
}
.shopping-cart .total
{
    font-size: 2.5rem;
    padding:1rem 0;
    text-align: center;
    color: var(--black);
}
.shopping-cart .btn
{
    display: block;
    text-align: center;
    margin: 1rem 0;
}
/*login here*/
/*login here*/
.home
{
    border: 0px solid;
    display: flex;
    justify-content: center;
    background: url(css/lll.jpg) no-repeat;
    background-position:center;
    background-size: cover;
    padding-top: 17rem;
    padding-bottom: 10rem;

}
.home .content
{
    border: 0px solid;
    text-align: center;
    width:60rem;
}
.home .content h3
{
    color: var(--black);
    font-size: 3rem;
}
.home .content h3 span
{
    color: var(--green);
}
.home .content p
{
    color: var(--light-color);
    font-size: 1.7rem;
    padding:1rem 0;
    line-height: 1.8;
}
/*features*/
.features .box-container
{ 
    border: 0px solid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}
.features .box-container .box
{
    border: 0px solid ;
    padding: 3rem 2rem;
    background: #fff;
    outline: var(--outline);
    outline-offset: -1rem white;
    text-align: center;
    box-shadow: var(--box-shadow);

}
.features .box-container .box:hover
{
    box-shadow: 1px 1px 10px 5px var(--green);
}
.features .box-container .box img
{
    margin:1rem 0;
    height: 15rem;
}
.features .box-container .box h3
{
    font-size:2.5rem;
    line-height:1.8;
    color: var(--black);
}
.features .box-container .box p
{
    font-size:1.5rem;
    line-height:1.8;
    color: var(--light-color);
    padding-bottom:1rem 0;
}
